In [1]:
# =========================================================
# Cell 1: Load Diabetes Meal Dataset
# =========================================================
import pandas as pd
import numpy as np

# Load your file
file_path = "/Users/kshitizsikriwal/Kshitiz/evaluation/Gemini/meal_to_yoga_top1_contrastive_diabetes.xlsx"
df = pd.read_excel(file_path)

# Keep only relevant columns
cols = [
    "meal_plan", "meal_day", "meal_time", "meal_name", "meal_description",
    "Calories (kcal)", "Total_Fat (g)", "Protein (g)", "Carbohydrates (g)",
    "Dietary_Fiber (g)", "Added_Sugar (g)", "Omega-3 (ALA, g)", 
    "EPA + DHA (mg)", "Selenium (µg)", "Magnesium (mg)"
]
df = df[cols]

print("✅ Dataset loaded successfully — shape:", df.shape)
df.head(3)

✅ Dataset loaded successfully — shape: (42, 15)

,meal_plan,meal_day,meal_time,meal_name,meal_description,Calories (kcal),Total_Fat (g),Protein (g),Carbohydrates (g),Dietary_Fiber (g),Added_Sugar (g),"Omega-3 (ALA, g)",EPA + DHA (mg),Selenium (µg),Magnesium (mg)
0,Plan A,Monday,Morning,Steel-Cut Oats,"Oats with flaxseeds, walnuts, and blueberries.",500,20,15,70,10,5,1.0,0,10,100
1,Plan A,Monday,Afternoon,Quinoa & Black Bean Salad,"Quinoa, black beans, corn, bell peppers, avoca...",700,25,25,100,15,5,0.5,0,15,150
2,Plan A,Monday,Evening,Grilled Salmon,Grilled salmon with roasted broccoli and a sma...,800,30,50,75,10,5,0.1,300,30,80